@import "common.css";

.board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc((var(--cell-size) + 1px) * var(--board-width));
  border-top: 4px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  border-left: 4px solid black;
  margin: 0 auto;
}
