@import "common.css";

.cell {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  width: var(--cell-size);
  height: var(--cell-size);
  cursor: pointer;
}

.alive {
  background-color: var(--green);
}
