@import "common.css";

.control-panel {
  display: flex;
  flex-direction: column;
}

.control-panel-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  width: var(--board-width);
  justify-content: space-between;
}

.state-description {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: 100%;
}

.pregame {
  color: gray;
  border-color: gray;
}

.ongoing {
  color: green;
  border-color: green;
}

.dead {
  color: red;
  border-color: red;
}

.stabilized {
  color: blue;
  border-color: blue;
}

.cycle {
  color: purple;
  border-color: purple;
}
