.control-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.control-panel button,
input {
  margin-right: 15px;
}
